<div class="w-75 mx-auto py-3">
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="col py-1">
        <input formControlName="first_name" type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col py-1">
        <input formControlName="last_name" type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="email" type="email" class="form-control py-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <label  for="exampleInputPassword1">Password</label>
      <input formControlName="password" type="password" class="form-control py-2" id="exampleInputPassword1" placeholder="Password">
  </form>
</div>
